html, body {
    scroll-behavior: smooth;
    height: 100%; /* Ensure both html and body take up the full height of the viewport */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box; /* Include border in the element's dimensions */
}

body {
    background-color: rgb(62, 62, 62);
    font-family: 'Arial';
    margin: 0rem;
    padding: 0rem;
    color: white;
    border: 0.5rem solid black;
}


* {
    box-sizing: border-box;
}



.navigation_bar {
    background-color: black;
    padding: 0.5rem 1.0rem;
    display:flex;
    align-items: center
    /* You need to use the above as there is a flex, you use that when you have either flex or grid */
}

.navigation_bar .logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
    margin-right: 1.25rem
}

.navigation_bar .logo span {
    color:limegreen
}


.navigation_bar .page_links {
    display: flex;
    gap: 5rem;
    margin: auto
}


.navigation_bar .page_links a {
    /* to remove the underline for the link */
    text-decoration: none; 
    color: white;
    font-size: 1.1rem;
}

.navigation_bar .page_links a:hover {
    color: cyan;
}



.allCentered{
    justify-items: center;
}


.button {
    margin-top: 4rem;
    background-color: rgba(101, 100, 100, 0.489);
    color: rgb(180, 175, 175);
    width: 20rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    padding: 3rem;
}

.allCentered .flex {
    display:flex;
    flex-direction: row;
    gap: 10rem;
    
}


.allCentered .catchyText {
    justify-items: center;
    font-style: italic;
    font-size: 1.3rem;
    color: rgb(193, 190, 190);
    line-height: 0.2rem;
    margin-top: 3rem;
}

.AppClick {
   color:  rgb(193, 190, 190);
   border-radius: 1rem;
   background-color: rgb(105, 48, 48);
   width: 24rem;
   padding: 1rem;
   margin-top: 6rem;
   font-size: 1.5rem;
}

.AppClick a{
    text-decoration: none;
    color: white;
}

.features {
    font-style: italic;
    font-size: 1rem;
    color: rgb(193, 190, 190);
    margin-top: 3rem;
    margin-left: 3rem;
}


.features .header {
    color: rgb(180, 175, 175);
    font-size: 1.4rem;
    font-style: normal;
    margin-left: rem;
}

.try_now{
    margin-top: 1rem;
    font-style: italic;
    font-size:medium;
    font-weight: bold;
    color:black
}

.card{
    background-color: rgb(199, 199, 199);
    padding: 3rem;
    border-radius:0.8rem;
    box-shadow: 0 4rem 12rem black;
    width: 25rem;

    /* to center it */
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.card h2 {
    justify-self: center;
    color: black;
}

.card p{
    justify-self: center;
    color:rgb(22, 22, 22);
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1rem;

}

.card input{
    padding: 0.6em;
    margin-bottom: 0.6rem; 
}

.card div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: bold;

}

.card div a{
    font-size: 0.9em;
    text-decoration: none;
    
}

.card div button{
    padding:0.4rem;
    background-color: rgb(16, 90, 228);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2.5rem;
    
}


