/* Task Summary */
.summary-section {
  /* display: none; */
  background-color: rgb(50, 50, 50);
  padding: 2rem;
  border-radius: 0.75rem;
  margin-top: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease;
}

.summary-section.visible {
  display: block;
  opacity: 1;
}

.summary-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.summary-priority-box {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
}

/* Optional Description */
.summary-desc {
  font-style: italic;
  color: rgb(200, 200, 200);
  margin-bottom: 1.2rem;
}

/* Assigned Users & Deadline */
.summary-meta p {
  margin-bottom: 0.6rem;
  color: white;
}